
h1{
   color: black;
   font-weight: bold;
   text-align: center;
   background-color: aqua;
   margin: 0px;
   width: 300px;
   margin-left: 400px;
   
}
h2{
    color: rgb(109, 109, 165);
    text-align: center;
    margin-top: 0%;

   
    font-weight: 200;
}
.Edu{
    background-color: aquamarine;
}
.Skills{
    background-color: aquamarine;
}
.Proj{
    background-color: aquamarine;
}
.Lang{
    background-color: aquamarine;
}
#img img{
    height: 150px;
    width: 150px;
}